<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="postgres1.Properties.Settings.basedatos1ConnectionString"
            connectionString="Host=104.196.183.62;Database=basedatos1;Username=mayra12;Persist Security Info=True;password=mayra123"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>